.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--cols, 10), 40px);
  grid-template-rows: repeat(var(--rows, 10), 40px);
  gap: 5px;
  user-select: none;
}

.box {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #666;
}

.selected {
  background-color: bisque;
}
